# **CIÊNCIA DE DADOS** - DCA3501

UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE, NATAL/RN

DEPARTAMENTO DE ENGENHARIA DE COMPUTAÇÃO E AUTOMAÇÃO

(C) 2025-2026 CARLOS M D VIEGAS

https://github.com/cmdviegas

# I. Introdução à Programação em Python

Este notebook aborda introdução ao Python, variáveis, tipos de dados (inteiros, floats e strings) e listas. 
> **Como usar:** Execute célula por célula (Shift+Enter). Se algo falhar, releia a explicação e ajuste o código.


## Sumário
1. [O que é Python e como executar código](#sec1)
2. [Variáveis](#sec2)
3. [Tipos de dados: `int`, `float`, `str`](#sec3)
4. [Listas](#sec4)


## 1. O que é Python e como executar código <a id="sec1"></a>

Python é uma linguagem de programação de propósito geral, com sintaxe clara e ampla comunidade. Para ciência de dados, destaca-se por sua **legibilidade** e por um ecossistema rico de bibliotecas.

### Como rodar Python
- **Terminal**: digite `python` ou `python3` e experimente comandos interativos.
- **Scripts**: salve seu código em `meu_script.py` e rode com `python meu_script.py`.
- **Jupyter Notebook**: ambiente interativo como este, ideal para estudos e análises passo a passo.

In [1]:
# Seu primeiro código Python: imprimir uma mensagem
print("Olá, Python!")

Olá, Python!


### Operações aritméticas básicas
Você pode usar Python como uma calculadora. Veja alguns exemplos.

In [2]:
# Soma, subtração, multiplicação e divisão
print(12 + 8)     # soma
print(12 - 8)     # subtração
print(12 * 8)     # multiplicação
print(12 / 8)     # divisão (float)

20
4
96
1.5

In [ ]:
# Potência e módulo (resto da divisão inteira)
print(2 ** 10)   # 2 elevado a 10
print(17 % 5)    # resto de 17 por 5


### Comentários
Use `#` para adicionar explicações/comentários no código — o Python ignora tudo após o `#` na mesma linha.

In [ ]:
# Este é um comentário explicativo
resultado = (5 + 3) * 2  # parênteses ajudam a deixar a intenção clara
print(resultado)

In [ ]:
"""
Este é um comentário de várias linhas.
Você pode usar três aspas para criar comentários mais longos.
"""
resultado = (5 * 2)  # parênteses ajudam a deixar a intenção clara
print(resultado)


#### Exercícios — Seção 1
1. Imprima o resultado de `45 - 13`.
2. Calcule `9 ** 3`.
3. Mostre o resto da divisão de `123` por `7`.

In [2]:
# Espaço para respostas dos Exercícios propostos:
print(45-13)
print(9**3)
print(123%7)

32
729
4


<details>
<summary><strong>Respostas sugeridas (clique para expandir)</strong></summary>

```python
print(45 - 13)
print(9 ** 3)
print(123 % 7)
```
</details>


## 2. Variáveis <a id="sec2"></a>

Variáveis são **nomes** que apontam para valores. Elas facilitam **reutilização**, **leitura** e **manutenção** do código.

### Atribuição e atualização
- Use `=` para atribuir um valor.
- Reatribuir é só fazer uma nova atribuição ao mesmo nome.
- Prefira nomes descritivos em `snake_case` (ou seja, com `_` separando nomes).

In [ ]:
# Exemplo de variáveis
preco_inicial = 39.90
desconto = 0.15
preco_final = preco_inicial * (1 - desconto)
print(preco_final)

In [ ]:
# Reatribuição
contador = 1
print("antes:", contador)
contador = contador + 1
print("depois:", contador)


### Boas práticas rápidas
- Use nomes significativos: `total_vendas`, `media_tempo`, etc.
- Evite nomes de uma letra (a menos que em laços muito curtos).
- Comente trechos menos óbvios.


#### Exercícios — Seção 2
1. Crie uma variável `temperatura_c` com valor `28`. Converta para Fahrenheit e guarde em `temperatura_f` usando a fórmula `F = C * 9/5 + 32`.
2. Crie `valor` com `1000`, aplique um acréscimo de `8%` e salve em `valor_corrigido`.
3. Dado `horas = 5` e `taxa_por_hora = 42.5`, calcule `pagamento_total`.

In [5]:
# Espaço para respostas dos Exercícios propostos:
# Parte 1
temperatura_c = 28
temperatura_f = temperatura_c * (9/5) + 32
print("Temperatura em Fº: ", temperatura_f)

# Parte 2
valor = 1000
valor_corrigido = (valor + (valor)*0.08)
print("Valor corrigido: ", valor_corrigido)

#Parte 3
horas = 5
taxa_por_hora = 42.5
pagamento_total = horas * taxa_por_hora
print("Valor do pagamento: ", pagamento_total)

Temperatura em Fº:  82.4
Valor corrigido:  1080.0
Valor do pagamento:  212.5


<details>
<summary><strong>Respostas sugeridas (clique para expandir)</strong></summary>

```python
temperatura_c = 28
temperatura_f = temperatura_c * 9/5 + 32
print(temperatura_f)

valor = 1000
valor_corrigido = valor * 1.08
print(valor_corrigido)

horas = 5
taxa_por_hora = 42.5
pagamento_total = horas * taxa_por_hora
print(pagamento_total)
```
</details>


## 3. Tipos de dados: `int`, `float`, `str` <a id="sec3"></a>

Os tipos fundamentais do início:
- **`int`**: números inteiros (…, -2, -1, 0, 1, 2, …)
- **`float`**: números com ponto decimal (ex.: 3.14, 0.0, -2.5)
- **`str`**: cadeias de caracteres (textos)

Você pode inspecionar o tipo com `type(obj)` e converter entre tipos com `int()`, `float()` e `str()`.

In [ ]:
# Inspecionando tipos
print(type(10))     # int
print(type(10.0))   # float
print(type("10"))   # str

In [ ]:
# Conversões
idade_str = "21"
idade_int = int(idade_str)
altura = 1.79
altura_str = str(altura)
print(idade_int, type(idade_int))
print(altura_str, type(altura_str))


### Precisão com ponto flutuante
Devido à representação binária, `float` pode ter pequenas imprecisões. Para cálculos financeiros, considere `decimal`.

In [ ]:
from decimal import Decimal, getcontext

getcontext().prec = 6
a = Decimal("0.10")
b = Decimal("0.20")
print(a + b)  # 0.30 com precisão controlada


### Strings
Strings representam texto. Você pode concatenar, fatiar e usar métodos úteis.

In [ ]:
# Concatenação e f-strings
nome = "Ana"
mensagem = f"Olá, {nome}!"
print(mensagem)

# Fatiamento (slicing)
texto = "Ciência de Dados"
print(texto[:7])   # "Ciência"
print(texto[-5:])  # "Dados"

# Métodos
print(texto.lower())
print(texto.upper())
print(texto.replace("Dados", "Informação"))


#### Exercícios — Seção 3
1. Use `type()` para verificar os tipos de `42`, `3.0`, `"42"`.
2. Converta a string `"3.50"` para `float` e some `1.25`.
3. Dada a string `"python para dados"`, mostre:
   - As 6 primeiras letras
   - A palavra final usando fatiamento
   - A mesma string em maiúsculas

In [20]:
# Espaço para respostas dos Exercícios propostos:
#Parte 1
print("Tipos de dados")
print(type(42))
print(type(3.0))
print(type("42"))

#Parte 2
print("")
print("Conversões")
valor_char = "3.50"
valor_float = float(valor_char)
valor_final = valor_float + 1.25
print(valor_final)

print("")
#Parte 3
print("Manipulação de strings")
string = "python para dados"
print(string[:6])
print(string[-5:])
print(string.upper())

Tipos de dados
<class 'int'>
<class 'float'>
<class 'str'>

Conversões
4.75

Manipulação de strings
python
dados
PYTHON PARA DADOS


<details>
<summary><strong>Respostas sugeridas (clique para expandir)</strong></summary>

```python
print(type(42), type(3.0), type("42"))

valor = float("3.50") + 1.25
print(valor)

s = "python para dados"
print(s[:6])
print(s[-5:])       # "dados"
print(s.upper())
```
</details>


## 4. Listas <a id="sec4"></a>

Listas armazenam **múltiplos valores** (inclusive de tipos diferentes) em uma única estrutura, ordenada e **mutável**.

### Criação e inspeção

In [ ]:
# Exemplo de lista heterogênea
linha = ["AplicativoX", 0.0, "BRL", 125_000, 4.2]
print(linha)
print(type(linha))
print(len(linha))  # tamanho


### Indexação, slicing e índices negativos
A indexação começa em **0**. Índices negativos contam a partir do fim.

In [ ]:
# Indexação e slicing
print(linha[0])   # primeiro elemento
print(linha[-1])  # último elemento
print(linha[1:4]) # fatia do índice 1 ao 3 (exclui o 4)


### Mutabilidade e métodos úteis
Use `append`, `pop`, `insert`, `remove` para modificar o conteúdo.

In [ ]:
# Mutabilidade
valores = [10, 20, 30]
valores.append(40)
print(valores)

ultimo = valores.pop()  # remove e retorna o último
print("removido:", ultimo, "restante:", valores)

valores.insert(1, 15)   # insere no índice 1
print(valores)

valores.remove(15)      # remove a primeira ocorrência
print(valores)


### List Comprehensions (Compreensão de Lista)
Uma forma concisa de criar listas a partir de iteráveis.

In [ ]:
# Quadrados de 0 a 9
quadrados = [n**2 for n in range(10)]
print(quadrados)


#### Exercícios — Seção 4
1. Crie uma lista `notas = [7.5, 8.0, 6.5]`. Adicione `9.0`, remova o último, e depois insira `8.7` na posição 1.
2. Dada `cidades = ["Natal", "Recife", "Fortaleza", "Maceió"]`, mostre a primeira e a última usando índice positivo e negativo.
3. Gere uma lista com os **cubos** de `0` a `5` usando list comprehension.

In [28]:
# Espaço para respostas dos Exercícios propostos:
#Parte 1
print("Manipulação de Listas")
notas = [7.5,8.0,6.5]
notas.append(9.0)
print(notas)

#Parte 2
cidades = ["Natal", "Recife", "Fortaleza", "Maceió"]
print("Primeiro elemento de cidades: ", cidades[0])
print("Último elemento de cidades: ", cidades[-1])

#Parte 3
cubos = [n**3 for n in range(6)]
print(cubos)

Manipulação de Listas
[7.5, 8.0, 6.5, 9.0]
Primeiro elemento de cidades:  Natal
Último elemento de cidades:  Maceió
[0, 1, 8, 27, 64, 125]


<details>
<summary><strong>Respostas sugeridas (clique para expandir)</strong></summary>

```python
notas = [7.5, 8.0, 6.5]
notas.append(9.0)
notas.pop()
notas.insert(1, 8.7)
print(notas)

cidades = ["Natal", "Recife", "Fortaleza", "Maceió"]
print(cidades[0], cidades[-1])

cubos = [n**3 for n in range(6)]
print(cubos)
```
</details>